{
    "root_filepath": "/Users/wm/Library/Mobile Documents/com~apple~CloudDocs/gonghongjia.xingzhi.wiki/\u8bbf\u8c08/2018\u5e74", 
    "model": "mix", 
    "children_filepath": "/Users/wm/Library/Mobile Documents/com~apple~CloudDocs/gonghongjia.xingzhi.wiki/\u8bbf\u8c08/2018\u5e74/201805:\u5343\u4ebf\u516c\u53f8\u662f\u600e\u4e48\u70bc\u6210\u7684.md"
}